/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* --------------------- css reset code ---------------------- */


.top-list{
    width: 100%;
    height: 40px;
    background-color: black;
}

.tl{
    width: 1200px;
    height: 37px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: white;
    margin: 0 auto;
    gap: 16px;
    font-size: 12px;
}

.top-mi{
    width: 100%;
    height: 80px;
}

.tml{
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    font-weight: 800;

}

.main-top{
    width: 1920px;

}

#image-0{
    height: 820px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2304_event/2560x820_cleansing_water.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-b{
    position: relative;
}

.ul-con{
    margin: 0 auto;
    width: 1200px;
    position: absolute;
    top: 200px;
    left: 20%;

}

.ul-con > :first-child{
    font-size: 20px;
}

.ul-con > :nth-child(2){
    font-size: 50px;
    margin-top: 10px;
    line-height: 65px;
    font-weight: bold;
}

.ul-con > :nth-child(3){
    font-size: 30px;
    margin-top: 30px;
    line-height: 1px;
}
.ul-con > :last-child{
    font-size: 30px;
    margin-top: 50px;
}

.main-mi{
    width: 1920px;
}

.mi-title{
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    margin: 80px 0 40px;
}

.mi-item{
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

#image-1{
    height: 336px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2208_event/2400x700_pc_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ul-text1{
    text-align: left;
    padding: 30px;
    position: absolute;
    top: 0;
}

.ul-text1 > del{
    color: #e6e6e6;
}

.ul-text1 > :first-child{
    margin-bottom: 85px;
    font-size: 22px;
}

.ul-text1 > :nth-child(2){
    font-size: 30px;
    margin-bottom: 5px;
}

.ul-text1 > :nth-child(3){
    font-size: 30px;
    margin-bottom: 50px;
}

.ul-text1 > :last-child{
    font-size: 22px;
}

#image-2{
    position: relative;
    width: 588px;
    height: 336px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2208_event/1200x700_pc_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#image-3{
    position: relative;
    width: 588px;
    height: 336px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2208_event/1200x700_pc_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#image-4{
    position: relative;
    width: 588px;
    height: 336px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2206_event/1200x700_pc_2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#image-5{
    position: relative;
    width: 588px;
    height: 336px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2206_event/1200x700_pc_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/*+code*/
#test{
    display: flex;
    justify-content: space-between;
    margin:16px 0px;
}

#test2{
    display: flex;
    justify-content: space-between;
    margin:16px 0px;
}

.main-mi2{
    width: 1200px;
    margin: 0 auto;
}

.mi-title2{
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    margin: 80px 0 40px;
}


.mi-item2{
    display: flex;
    justify-content: space-around;
}

#image-6{
    height: 363px;
    background-image: url(http://cdn4-aka.makeshop.co.kr/shopimages/cosrx/019000000505.jpg?1681965702);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 363px;
}

#image-7{
    height: 363px;
    background-image: url(http://cdn4-aka.makeshop.co.kr/shopimages/cosrx/019000000502.jpg?1677216173);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 363px;
}

#image-8{
    height: 363px;
    background-image: url(http://cdn4-aka.makeshop.co.kr/shopimages/cosrx/019000000035.jpg?1654134893);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 363px;
}

.ii-text{
    text-align: center;
    font-weight: bold;
}

.ii-text2{
    text-align: center;
    font-weight: bold;
}

.ii-text > :first-child{
    font-size: 20px;
}
.ii-text > :nth-child(2){
    font-size: 20px;
    margin-bottom: 10px;
}
.ii-text > :last-child{
    font-size: 16px;
}

.ii-text2 > :first-child{
    font-size: 20px;
    margin-bottom: 10px;
}
.ii-text2 > :last-child{
    font-size: 16px;
}

.mi-item3{
    display: flex;
    justify-content: space-around;
}

.main-mi3{
    width: 1920px;
    margin: 0 auto;
}

#image-9{
    height: 472px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2106_event/main_hydrium_01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 635px;
}
#image-10{
    height: 472px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2106_event/main_hydrium_02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 635px;
}
#image-11{
    height: 472px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2106_event/main_hydrium_03.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 635px;
}

.mi-item3{
    margin-top: 150px;
}

.it1-text1{
    margin-top: 30px;
}

.it1-text1 > :first-child{
    font-weight: bold;
    font-size: 27px;
    margin-bottom: 10px;
}
.it1-text1 > :last-child{
    font-size: 16px;
}

.main-mi4{
    width: 1200px;
    margin: 0 auto;
}

.mi-title4{
    text-align: center;
    font-size: 40px;
    line-height: 30px;
    margin: 80px 0 40px;
}

.mi-item4{
    width: 1200px;
    margin: 0 auto;
}

.mi-it2{
    display: flex;
    justify-content: space-between;
    padding: 64px 0px;
    border-bottom: 1px solid #e6e6e6;
    width: auto;  
}

#image-12{
    height: 420px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2303_bestReview/review_product_01_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
}


.it2-text1{
    width: 507px;
}

.it2-text1 > :first-child{
    font-size: 36px;
    line-height: 1.5;
    margin-bottom: 45px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.it2-text1 > :nth-child(2){
    font-size: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.it2-text1 > :nth-child(3){
    font-size: 20px;
    margin-bottom: 45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.it2-text1 > :nth-child(4){
    font-size: 25px;
    color: #f1bc24;
    margin-bottom: 15px;
}

.it2-text1 > :last-child{
    font-size: 20px;
}

#image-13{
    height: 420px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2303_bestReview/review_product_02_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
}

#image-14{
    height: 420px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2303_bestReview/review_product_03_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
}

#image-15{
    height: 420px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2303_bestReview/review_product_04_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
}

#image-16{
    height: 420px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2303_bestReview/review_product_05_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
}

#image-17{
    height: 420px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2303_bestReview/review_product_06_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 420px;
}



.foo-top{
    width: 1200px;
    margin: 0 auto;
}

.foo-list{
    display: flex;
    font-size: 16px;
    gap: 20px;
    padding: 25px 0;
    border-bottom: 1px solid #e6e6e6;
}

.foo-list > :nth-child(2){
    font-weight: bold;
}

.foo-mi{
    width: 1200px;
    margin: 0 auto;
    height: 200px;
}

.fmi-list{
    margin-top: 30px;
}



.mi-it2{
    position: relative;
}



#image-18{
    height: 520px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2303_bestReview/review_product_01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 412px;
    position: absolute;
    top: -20px;
    right: 230px;
}

#image-19{
    height: 580px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2110_bestReview/review_product_02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 412px;
    position: absolute;
    top: -60px;
    right: 230px;
}

#image-20{
    height: 580px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2110_bestReview/review_product_03.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 412px;
    position: absolute;
    top: -60px;
    right: 230px;
}

#image-21{
    height: 520px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2110_bestReview/review_product_04.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 412px;
    position: absolute;
    top: -20px;
    right: 230px;
}

#image-22{
    height: 580px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2110_bestReview/review_product_05.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 412px;
    position: absolute;
    top: -60px;
    right: 230px;
}

#image-23{
    height: 580px;
    background-image: url(http://cosrxinc.jpg3.kr/cosrximg/cosrx/main/2110_bestReview/review_product_06.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 412px;
    position: absolute;
    top: -60px;
    right: 230px;
}